/* body{height: 100vh;display: flex;flex-direction: column;margin: 0;} */
html,body {
    min-height: 100% !important;
    height: 100%;
}

.full-height {
    height: 100%;
    background: yellow;
}

.content{height: 100%!important;}

.backgroundOrange{background: url(../images/background-orange.svg);background-repeat: no-repeat;background-size: cover;background-position: center;background-color: #FBB03B!important;}
.backgroundBlue{background: url(../images/background-blue.svg);background-repeat: no-repeat;background-size: cover;background-position: center;background-color: #1ABCE2!important;}
.kalimatHome{font-size: 12px;color: white;font-family: Raleway-Black;}
.kalimatTanya{font-family: Raleway-Black;color: #ED1E79;}
.btn-black{background-color: black!important;color: white!important;font-family: Raleway-Black;font-size: 11px!important}
.pageHalaman h5{font-family: Raleway-Black;color: white;font-size: 12px;}
.form-control{font-family: Raleway-Black;}

ol{list-style-type:upper-alpha}
ol li{margin-bottom: 10px;border-bottom: 1px solid white;color: white;}
.text-yellow{color: #FCEE21!important;}

@font-face {
    font-family: Raleway-Black;
    src: url(../font/Raleway-Black.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../font/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-semiBold;
    src: url(../font/Raleway-SemiBold.ttf);
}

@media only screen and (max-width: 600px) {
    .content{height: auto!important;}
}